# vcs
.git
.gitignore

# deps & build
node_modules
coverage
dist

# env & local
.env
.env.*
*.dump
*.log

# scripts not needed in image
scripts/*.cmd
scripts/*.sql

# misc
Dockerfile
docker-compose*.yml
